USE [user14]
GO
/****** Объект:  Table [dbo].[AdressPVZ]    Дата создания скрипта: 23.05.2026 11:50:52 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdressPVZ](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[indexPVZ] [int] NOT NULL,
	[city] [nvarchar](150) NOT NULL,
	[street] [nvarchar](150) NOT NULL,
	[house] [int] NULL,
 CONSTRAINT [PK_AdressPVZ] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Categories]    Дата создания скрипта: 23.05.2026 11:50:52 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Mackers]    Дата создания скрипта: 23.05.2026 11:50:52 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mackers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Mackers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Orders]    Дата создания скрипта: 23.05.2026 11:50:52 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tovarId] [int] NOT NULL,
	[count] [int] NOT NULL,
	[dateOrder] [date] NOT NULL,
	[dateDelivery] [date] NOT NULL,
	[PVZId] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[issueCode] [int] NOT NULL,
	[statusId] [int] NOT NULL,
	[numderOrder] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Products]    Дата создания скрипта: 23.05.2026 11:50:52 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[articul] [nvarchar](150) NOT NULL,
	[name] [nvarchar](500) NOT NULL,
	[unitId] [int] NOT NULL,
	[price] [float] NOT NULL,
	[supllierId] [int] NOT NULL,
	[mackerId] [int] NOT NULL,
	[categoryId] [int] NOT NULL,
	[discount] [float] NOT NULL,
	[countInStock] [int] NOT NULL,
	[discription] [nvarchar](max) NOT NULL,
	[image] [nvarchar](100) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[RolesUser]    Дата создания скрипта: 23.05.2026 11:50:52 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesUser](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_RolesUser] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Statuses]    Дата создания скрипта: 23.05.2026 11:50:52 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Suplliers]    Дата создания скрипта: 23.05.2026 11:50:52 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suplliers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Suplliers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Units]    Дата создания скрипта: 23.05.2026 11:50:52 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Users]    Дата создания скрипта: 23.05.2026 11:50:52 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roleId] [int] NOT NULL,
	[lastname] [nvarchar](100) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[patronimic] [nvarchar](100) NOT NULL,
	[login] [nvarchar](200) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdressPVZ] ON 

INSERT [dbo].[AdressPVZ] ([id], [indexPVZ], [city], [street], [house]) VALUES (1, 420151, N' г. Лесной', N' ул. Вишневая', 32)
INSERT [dbo].[AdressPVZ] ([id], [indexPVZ], [city], [street], [house]) VALUES (2, 125061, N' г. Лесной', N' ул. Подгорная', 8)
INSERT [dbo].[AdressPVZ] ([id], [indexPVZ], [city], [street], [house]) VALUES (3, 630370, N' г. Лесной', N' ул. Шоссейная', 24)
SET IDENTITY_INSERT [dbo].[AdressPVZ] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [name]) VALUES (1, N'Учебник для вузов')
INSERT [dbo].[Categories] ([id], [name]) VALUES (2, N'Учебное пособие')
INSERT [dbo].[Categories] ([id], [name]) VALUES (3, N'Хрестоматия')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Mackers] ON 

INSERT [dbo].[Mackers] ([id], [name]) VALUES (1, N'
Лениздат')
INSERT [dbo].[Mackers] ([id], [name]) VALUES (2, N'Амрита-Русь')
INSERT [dbo].[Mackers] ([id], [name]) VALUES (3, N'Аспект Пресс')
SET IDENTITY_INSERT [dbo].[Mackers] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [tovarId], [count], [dateOrder], [dateDelivery], [PVZId], [user_id], [issueCode], [statusId], [numderOrder]) VALUES (1, 1, 2, CAST(N'2024-02-27' AS Date), CAST(N'2024-04-20' AS Date), 1, 4, 901, 1, 1)
INSERT [dbo].[Orders] ([id], [tovarId], [count], [dateOrder], [dateDelivery], [PVZId], [user_id], [issueCode], [statusId], [numderOrder]) VALUES (2, 11, 1, CAST(N'2023-09-28' AS Date), CAST(N'2024-04-21' AS Date), 11, 1, 902, 1, 2)
INSERT [dbo].[Orders] ([id], [tovarId], [count], [dateOrder], [dateDelivery], [PVZId], [user_id], [issueCode], [statusId], [numderOrder]) VALUES (3, 4, 10, CAST(N'2024-03-21' AS Date), CAST(N'2024-04-22' AS Date), 2, 2, 903, 1, 3)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [articul], [name], [unitId], [price], [supllierId], [mackerId], [categoryId], [discount], [countInStock], [discription], [image]) VALUES (1, N'А112Т4', N'Прокляты и убиты', 1, 585, 1, 10, 4, 25, 6, N'Роман-эпопею "Прокляты и убиты" Виктора Астафьева по праву считают одним из самых сильных и пронзительных произведений отечественной военной прозы.', N'1.jpg')
INSERT [dbo].[Products] ([id], [articul], [name], [unitId], [price], [supllierId], [mackerId], [categoryId], [discount], [countInStock], [discription], [image]) VALUES (2, N'B653G6', N'Русский язык: Первые шаги. Часть 3. Учебное пособие', 1, 2699, 10, 6, 2, 8, 9, N'Пособие является завершающей частью учебного комплекса. Третья часть содержит 10 уроков (21-30, последний-повторительный). Усвоение лексико-грамматического материала рассчитано примерно на 200-240 часов аудиторных занятий. ', N'17.jpg')
INSERT [dbo].[Products] ([id], [articul], [name], [unitId], [price], [supllierId], [mackerId], [categoryId], [discount], [countInStock], [discription], [image]) VALUES (3, N'C346F5', N'Квантовые миры и возникновение пространства-времени', 1, 1349, 12, 8, 1, 5, 4, N'Шон Кэрролл — физик-теоретик и один из самых известных в мире популяризаторов науки — заставляет нас по-новому взглянуть на физику. Столкновение с главной загадкой квантовой механики полностью поменяет наши представления о пространстве и времени.', N'8.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RolesUser] ON 

INSERT [dbo].[RolesUser] ([id], [name]) VALUES (1, N'Авторизированный клиент')
INSERT [dbo].[RolesUser] ([id], [name]) VALUES (2, N'Администратор')
INSERT [dbo].[RolesUser] ([id], [name]) VALUES (3, N'Менеджер')
SET IDENTITY_INSERT [dbo].[RolesUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([id], [name]) VALUES (1, N'Завершен')
INSERT [dbo].[Statuses] ([id], [name]) VALUES (2, N'Новый ')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Suplliers] ON 

INSERT [dbo].[Suplliers] ([id], [name]) VALUES (1, N'Виктор Астафьев')
INSERT [dbo].[Suplliers] ([id], [name]) VALUES (2, N'Любовь Беликова, Инна Ерофеева, Татьяна Шутова')
INSERT [dbo].[Suplliers] ([id], [name]) VALUES (3, N'Шон Кэрролл')
SET IDENTITY_INSERT [dbo].[Suplliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([id], [name]) VALUES (1, N'шт.')
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [roleId], [lastname], [name], [patronimic], [login], [password]) VALUES (1, 1, N'Никифорова', N'Весения', N'Николаевна', N'yzls62@outlook.com', N'JlFRCZ')
INSERT [dbo].[Users] ([id], [roleId], [lastname], [name], [patronimic], [login], [password]) VALUES (2, 1, N'Сазонов', N'Руслан', N'Германович', N'1diph5e@tutanota.com', N'8ntwUp')
INSERT [dbo].[Users] ([id], [roleId], [lastname], [name], [patronimic], [login], [password]) VALUES (3, 1, N'Одинцов', N'Серафим', N'Артёмович', N'tjde7c@yahoo.com', N'YOyhfR')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_AdressPVZ] FOREIGN KEY([PVZId])
REFERENCES [dbo].[AdressPVZ] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_AdressPVZ]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Products] FOREIGN KEY([tovarId])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Statuses] FOREIGN KEY([statusId])
REFERENCES [dbo].[Statuses] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Statuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Mackers] FOREIGN KEY([mackerId])
REFERENCES [dbo].[Mackers] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Mackers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suplliers] FOREIGN KEY([supllierId])
REFERENCES [dbo].[Suplliers] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suplliers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Units] FOREIGN KEY([unitId])
REFERENCES [dbo].[Units] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Units]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_RolesUser] FOREIGN KEY([roleId])
REFERENCES [dbo].[RolesUser] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_RolesUser]
GO
